:root {
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
}

.grid-center {
  display: grid;
  place-items: center;
}

.form-step label {
  display: grid;
}

.form__route {
  background-image: url("/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: start;
  min-height: 13rem;
}
.route__info {
  display: none;
}
.route__icon {
  margin-top: 3rem;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  background: transparent;
  display: grid;
  place-items: center;
  padding: 0px;
  width: 50px;
  height: 50px;
  font-weight: 700;
  cursor: pointer;
}
.route__icon--active {
  color: var(--marine-blue);
  background-color: var(--light-blue);
  border: 1px transparent;
}
.form__window {
  display: grid;
  place-items: center;
  background-color: var(--magnolia);
}
.form-step {
  background-color: white;
  padding: 1.5rem;
  width: 100%;
  max-width: 350px;
  position: relative;
  transform: translateY(-5rem);
  border-radius: 0.6rem;
}
.form-step h1 {
  margin: 0;
  font-size: 1.8rem;
  color: var(--marine-blue);
  font-weight: 700;
}
.form-step p {
  color: var(--cool-gray);
}

.step1 label {
  margin-bottom: 1rem;
}
.step1 label div {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.step1 label div p:nth-child(1) {
  margin: 0;

  color: var(--marine-blue);
  font-weight: 300;
}
.step1 label div p:nth-child(2) {
  margin: 0;
  font-size: 0.7rem;
}
.step1 input {
  margin-top: 2px;
  min-height: 2.3rem;
  border: var(--light-gray) 1px solid;
  border-radius: 0.3rem;
  padding-left: 1rem;
}
.input--error {
  border: var(--strawberry-red) 1px solid !important;
}
.error-label {
  color: var(--strawberry-red) !important;
}
.step1 input:focus {
  border: 1px solid var(--purplish-blue);
  outline: none;
}

/* STEP 2 */
.step2-plan {
  display: flex;
  gap: 1rem;
  border: 1px solid var(--light-gray);
  padding: 1.25rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  align-items: start;
}

.step2-plan__details {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.step2-plan__details p:first-child {
  color: var(--marine-blue);
}
.step2-plan__details p:nth-child(3) {
  color: var(--marine-blue);
  font-size: 0.8rem;
}
.step2-plan.active {
  border: 1px solid var(--purplish-blue);
  background-color: var(--magnolia);
}
.step2-plan div p {
  margin: 0;
}

.billing--selected {
  color: var(--marine-blue) !important;
  font-weight: 500;
}

/* TOGGLE */
.step2-toggle {
  background-color: var(--magnolia);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.switch {
  position: relative;
  display: inline-block;
  width: 2.8rem;
  min-height: 1.5rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--marine-blue);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--marine-blue);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(22px);
}
/* /TOGGLE */

/* STEP 3 */
.step3-addons {
  display: grid;
}
.step3-addon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid var(--light-gray);
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.step3-price {
  color: var(--purplish-blue) !important;
  font-weight: 300;
}

.step3-addon.active {
  border: 1px solid var(--purplish-blue);
  background-color: var(--magnolia);
}
.step3-addon > div {
  display: flex;
}
.step3-addon input {
  min-width: 1.5rem;
  margin-right: 1rem;
}
.step3-addon input[type="checkbox"]:checked {
  accent-color: var(--purplish-blue);
}
.step3-addon div p {
  margin: 0;
}
.step3-addon div p:nth-child(1) {
  color: var(--marine-blue);
}

/* STEP 4 */
.step4-checkout {
  background-color: var(--alabaster);
  padding: 1rem;
}
.step4-checkout p:nth-child(3) {
  color: var(--marine-blue);
}
.checkout__plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.step4-checkout div p {
  margin: 0;
}
.plan__name {
  color: var(--marine-blue) !important;
  font-weight: 500;
}
.checkout__plan {
  padding-bottom: 1.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--light-gray);
}

.plan__change {
  text-decoration-line: underline;
  cursor: pointer;
}
.plan__price {
  color: var(--marine-blue) !important;
  font-weight: 500;
}
.checkout__addon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}
.checkout__addons {
  display: grid;
}
.addon__price {
  color: var(--marine-blue) !important;
  font-weight: 400;
}
.step4-total {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.step4-total p:nth-child(2) {
  color: var(--purplish-blue);
  font-weight: 600;
  font-size: 1.4rem;
}

.form__buttons {
  display: flex;
  justify-content: space-between;
  margin: 1.25rem;
}
.step5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.step5 img {
  max-width: 4rem;
  margin-bottom: 1rem;
}
.step5 p {
  margin-top: 1.5rem;
  text-align: center;
  max-width: 18rem;
  font-size: 1.1rem;
  line-height: 1.5rem;
}
.btn-back {
  background-color: transparent;
  border: 0;
  padding: 1rem;
  color: var(--cool-gray);
  cursor: pointer;
}
.btn-next {
  color: white;
  background-color: var(--marine-blue);
  border: 0;
  padding: 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
}
.btn-confirm {
  color: white;
  background-color: var(--purplish-blue);
  border: 0;
  padding: 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
}

@media (min-width: 400px) {
  .form-step {
    max-width: 400px;
  }
}

@media (min-width: 1024px) {
  main {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: var(--magnolia);
  }
  .form-window-buttons {
    display: grid;

    grid-template-rows: 450px 1fr;

    height: 500px;
  }
  .form {
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    background-color: white;
    width: 800px;
    height: 550px;
  }
  .form__route {
    background-image: url("/images/bg-sidebar-desktop.svg");
    justify-content: start;
    flex-direction: column;
    padding: 1.5rem;
    min-width: 16rem;
    border-radius: 0.5rem;
    gap: 0;
  }
  .route {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 1rem;
    user-select: none;
  }
  .route__icon {
    margin-top: 0;
    width: 35px;
    height: 35px;
  }
  .route__info {
    display: block;
  }
  .route__info p {
    margin: 0;
  }
  .route__info p:nth-child(1) {
    color: var(--light-gray);
    font-size: 0.8rem;
    font-weight: 300;
  }
  .route__info p:nth-child(2) {
    color: white;
    font-weight: 400;
  }
  .form-step {
    max-width: 600px;
    padding: 4rem;
    transform: none;
    position: initial;
  }
  .form__buttons {
    max-width: 400px;
    margin: auto;
    gap: 12rem;
  }
  .form__window {
    background-color: white;
    width: 32rem;
  }
  .step2-plans {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
  .step2-plan {
    flex-direction: column;
    width: 8rem;
  }
  .step5 p {
    max-width: 100%;
  }
}
