:root {
  --active-input-border-gradient-start: hsl(249, 99%, 64%);
  --active-input-border-gradient-end: hsl(278, 94%, 30%);
  --input-errors: hsl(0, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
}

.grid-center {
  display: grid;
  place-items: center;
}
.content-container-wrap {
  display: grid;
  place-items: center;
}
.bg-mobile {
  position: relative;
  width: 100%;
  height: 16rem;
  background-image: url("/images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  margin-bottom: 6rem;
}
.content-container {
  width: 100%;
}
/* CARDS */
.cards-wrap {
  display: grid;
  place-items: center;
  width: 100%;
}
.card-front {
  transform: translateY(10rem) translateX(-3rem);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  min-width: 20rem;
  min-height: 10rem;
  max-width: 20rem;
  max-height: 10rem;
  background-image: url("/images/bg-card-front.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-front > div {
  display: flex;
  flex-direction: column;
}
.card-front > div > p {
  font-size: 1.2rem;
}
.card-front > div > div p {
  margin-top: 1rem;
  font-weight: 300;
  font-size: 0.9rem;
}
.card-front p {
  margin: 0;
}
.card-front img {
  max-width: 4rem;
}
.card-back {
  z-index: 5;
  transform: translateY(-6rem) translateX(2rem);
  display: flex;
  justify-content: flex-end;
  align-items: center;

  color: white;
  border-radius: 0.5rem;
  min-width: 20rem;
  min-height: 10rem;
  max-width: 20.5rem;
  min-height: 10rem;
  background-image: url("/images/bg-card-back.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.card-back p {
  margin-top: 2rem;
  margin-right: 2.2rem;
}

/* --- */
.form {
  max-width: 400px;
  margin: 1rem;
}
.form div {
  margin-bottom: 1.5rem;
}
.form p {
  margin: 0;
  margin-bottom: 0.5rem;
  color: var(--very-dark-violet);
}
.form input {
  padding-left: 1rem;
  min-height: 2.5rem;
  width: 100%;
  outline: none;
  border: 1px solid var(--light-grayish-violet);
  border-radius: 0.5rem;
  appearance: textfield;
}

.form input:focus {
  transition: ease-out 300ms;
  border: 1px solid var(--active-input-border-gradient-end);
}
.input--error {
  border: 1px solid var(--input-errors);
}
.exp-cvc {
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  grid-template-rows: auto;
  margin: 0 !important;
  gap: 1rem;
}
.cvc {
  width: 100%;
}
.exp-date {
  width: 100%;
  min-width: 10rem;

  margin: 0 !important;
}
.exp-date > div {
  display: flex;
  gap: 0.5rem;
}
.exp-input-wrap {
  display: grid;
  grid-template-rows: 2.5rem;
  min-width: 5rem;
  width: 100%;
}
.exp-date input {
  width: 100%;

  /* max-width: 4rem; */
}
.button-purple {
  display: grid;
  place-items: center;
  font-size: 1.25rem;
  margin: 0;
  color: white;
  background-color: var(--very-dark-violet);
  width: 100%;
  min-height: 3.5rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  cursor: pointer;
}
.button-purple:hover {
  background-color: #4100a1;
}

/* Errors */
.input-error {
  border: 1px solid var(--input-errors) !important;
}
.error-label {
  color: var(--input-errors) !important;
  margin-top: 2rem;
  font-size: 0.8rem;
  padding-left: 0.5rem;
}

/* Modal */
.invisible {
  display: none;
}

.modal {
  /* position: fixed; */
  width: 100%;
  max-width: 400px;
  z-index: 100;
  background-color: white;
}
.modal__content {
  margin: 1rem;
  margin-top: 5rem;
}
.modal__top img {
  max-width: 5rem;
  margin-bottom: 1rem;
}
.modal__top * {
  margin: 0;
}
.modal__top {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal__top :nth-child(2) {
  color: var(--very-dark-violet);
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 500;
}
.modal__top:nth-child(3) {
  color: var(--dark-grayish-violet);
}
.modal button {
  margin-top: 2rem;
}

@media (min-width: 1024px) {
  .content-container-wrap {
    min-height: 100vh;
  }
  .card-front,
  .card-back {
    transform: initial;
  }
  .bg-mobile {
    display: none;
  }
  .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bg-desktop {
    position: absolute;
    left: 0;
    min-width: 30vw;

    min-height: 100vh;
    background-image: url("/images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;

    z-index: -5;
  }
  .content-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 1000px;
    max-width: 1000px;
  }
  .card-front {
    position: relative;
    transform: translateX(-4rem) translateY(-2rem);
    min-width: 22rem;
    min-height: 12rem;
  }
  .card-back {
    min-width: 22rem;
    min-height: 12rem;

    transform: translateX(4rem) translateY(0rem);
  }
  .card-back p {
    margin-top: 0.8rem;
    margin-right: 4rem;
  }
  .modal {
    min-width: 430px;
  }
}
@media (min-width: 1300px) {
  .card-front,
  .card-back {
    transform: initial;
  }
  .bg-mobile {
    display: none;
  }
  .bg-desktop {
    position: absolute;
    left: 0;
    min-width: 30vw;

    min-height: 100vh;
    background-image: url("/images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;

    z-index: -5;
  }
  .content-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 1300px;
    max-width: 1300px;
  }
  .modal {
    min-width: 430px;
  }
  .form {
    max-width: 400px;
  }
  .card-front {
    position: relative;
    transform: translateX(-1rem) translateY(-2rem);
    max-width: 28rem;
    min-height: 15rem;
    width: 100%;
    padding: 1.5rem;
  }
  .card-front img {
    max-width: 5.5rem;
  }
  .card-front > div > p {
    font-size: 2rem;
  }
  .card-front > div > div p {
    margin-top: 1rem;
    font-weight: 300;
    font-size: 1.2rem;
  }
  .card-back {
    position: relative;
    transform: translateX(5rem) translateY(1rem);
    min-width: 28rem;
    min-height: 15rem;
  }
  .card-back p {
    margin-top: 1rem;
    margin-right: 4rem;
  }
  .cars-wrap2 {
    width: 100%;
  }
}
.attribution {
  display: flex;
  justify-content: center;
}
