@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --soft-blue: hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);
  --grayish-blue: hsl(229, 8%, 60%);
  --very-dark-blue: hsl(229, 31%, 21%);
}

* {
  font-family: "Rubik", sans-serif;
}

.filter-red {
  filter: brightness(0) saturate(100%) invert(46%) sepia(54%) saturate(589%)
    hue-rotate(308deg) brightness(93%) contrast(92%);
}

.question:hover > p {
  color: var(--soft-red);
}

@media (min-width: 1024px) {
  p {
    font-size: 18px;
  }
}
