@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
:root {
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue: hsl(207, 26%, 17%);
  --very-dark-blue-light-mode-text: hsl(200, 15%, 8%);
  --dark-gray-light-mode-input: hsl(0, 0%, 52%);
  --background: hsl(0, 0%, 98%);
  --light-color: hsl(0, 0%, 100%);
  --text: black;
}
[data-theme="dark"] {
  --text: white;
  --light-color: hsl(209, 23%, 22%);
  --background: hsl(207, 26%, 17%);
}

.root {
  background-color: var(--background);
  color: var(--text);
}

body {
  background-color: var(--background);
}
.grid-center {
  display: grid;
  place-items: center;
}
.navbar {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-color);
}
.navbar > p {
  font-weight: 700;
  font-size: 1.2rem;
}
.navbar > p * {
  color: var(--text);
  text-decoration: none;
}

.countries-list {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  background-color: var(--background);
}
.country-card * {
  margin: 0;
}
.countries-list-page {
  background-color: var(--background);
  min-height: 100vh;
}
.country-card {
  display: grid;
  grid-template-rows: 12rem auto;
  width: 18rem;
  min-height: 24rem;
  overflow: hidden;
  background-color: var(--light-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0.4rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--text);
}

.country-card-image {
  overflow: hidden;
}

.country-card img {
  width: 100%;
  height: 100%;
  transition: ease 200ms;
}
.country-card:hover img {
  transform: scale(1.15);
}
.country-card-info {
  padding: 1.5rem;
}
.country-card h2 {
  margin-bottom: 0.8rem;
}
.country-card p {
  margin-top: 0.5rem;
  font-weight: 300;
}

.search-filters-wrapper {
  background-color: var(--background);
}

.search-filters {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--background);
}
.search {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  padding-left: 2.5rem;
  background-color: var(--light-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: var(--text);
}
.search input {
  width: 100%;
  border: none;
  outline: none;
  color: var(--text);
  background-color: var(--light-color);
  min-height: 2rem;
}

.filters select {
  color: var(--text);
  background-color: var(--light-color);
  outline: none;
  border: none;
  min-height: 3rem;
  padding: 1rem;
  min-width: 14rem;
}
.country-page {
  background-color: var(--background);
  color: var(--text);
  min-height: 100vh;
}
.country {
  width: 100%;
  max-width: 600px;
  border-radius: 0.4rem;
}
.country-flag {
  display: flex;
  justify-content: center;
  margin: 1rem;
  min-width: 1rem;
}
.country-flag img {
  max-width: 400px;
  width: 100%;
}
.country-info {
  padding: 1.5rem;
}
.country-info p,
h1 {
  margin: 0;
  margin-bottom: 0.5rem;
}
.country-border-countries {
  margin-top: 2rem;
}
.country-border-countries > p {
  font-size: 1.15rem;
}
.border-countries {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.border-country {
  display: grid;
  place-items: center;
  text-decoration: none;
  color: var(--text);
  padding: 0.4rem;
  min-width: 6rem;
  background-color: var(--light-color);
  border: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0.3rem;
}

.back-btn {
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 0.4rem;
  min-width: 8rem;
  max-height: 2.5rem;
  border-radius: 0.4rem;
  color: var(--text);
  background-color: var(--light-color);
  border: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.mode-btn {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--light-color);
  border: 0;
  cursor: pointer;

  color: var(--text);
}
.country-info__right {
  margin-top: 2.5rem;
}
@media (min-width: 650px) {
  .countries-list {
    display: grid;
    grid-template-columns: auto auto;
  }
}
@media (min-width: 1024px) {
  .search-filters-wrapper {
    display: grid;
    place-items: center;
  }
  .countries-list {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .search-filters {
    width: 100%;
    max-width: 86rem;
    flex-direction: row;
    justify-content: space-between;
  }

  .search {
    width: 100%;
    max-width: 32rem;
  }

  .navbar {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .navbar > p {
    font-weight: 700;
    font-size: 1.5rem;
  }
  .mode-btn {
    font-size: 1.2rem;
  }
  .country {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "back back"
      "flag info";
    max-width: 1440px;
  }
  .country-flag {
    grid-area: flag;
  }
  .back-btn-wrapper {
    width: 100%;
    padding-left: 7rem;
    flex-direction: row;
    justify-content: space-between;
    grid-area: back;
  }
  .country-info {
    grid-area: info;
  }
  .country-info > h1 {
    margin-bottom: 1rem;
  }
  .country-flag img {
    max-width: 500px;
    max-height: 300px;
  }
  .country-info-flex {
    display: flex;
    gap: 4rem;
  }
  .country-info__right {
    margin-top: 0;
  }
}
@media (min-width: 1350px) {
  .countries-list {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
}
